
    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center bg-image"
      style="background-image: url('/static/hero1.jpeg');">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div style="color: rgb(188, 228, 44)">
            <h1 class="mb-3">Welcome <br>Parkinson's disease is a brain disorder <br>that causes unintended or uncontrollable movements<br>such as shaking, stiffness, and difficulty with balance and coordination.</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
